{ extends "layout.html"}
{% block content%}
<h1>{{tr}}</h1>
 <fieldset class="form-group">
      <div class="media">
        <img class="rounded-circle account-img" src="static/aish.jpeg">
        <div class="media-body">
          <h2 style="font-family:comic sans ms;">Aisurya Misra</h2>
        <a class="article-title" href="#">aisuryamisra@gmail.com</a>
        </div>
      </div>
     <hr>
     <div class="media">
         <img class="rounded-circle account-img" src="static/happy.jpg">
         <div class="media-body">
             <h2 style="font-family:comic sans ms;">Rajesh Swain</h2>
             <a class="article-title" href="#">rsaiwn2705@gmail.com</a>

         </div>
     </div>
     <hr>
     <div class="rounded-circle account-img" src="static/rudra.jpeg">
         <div class="media-body">
             <h2 style="font-family:comic sans ms;">Rudra Madhav Biswal</h2>
             <a class="article-title" href="#">rickrudra@gmail.com</a>
         </div>
     </div>
     <hr>
     <div class="rounded-circle account-img" src="static/saswat.jpg">
         <div class="media-body">
             <h2 style="font-family:comic sans ms;">Saswat Ray</h2>
             <a class="article-title" href="#">saswatray2505@gmail.com</a>
         </div>
     </div>
     <hr>
     <div class="rounded-circle account-img" src="static/alisha-color.jpg">
         <div class="media-body">
             <h2 style="font-family:comic sans ms;">Alisha Mohanty</h2>
             <a class="article-title" href="#">Alisha Mohanty</a>
         </div>
     </div>
     <hr>
 </fieldset>
{% endblock content %}
