<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>BlindReader - {{ title }}</title>
    {% else %}
        <title>BlindReader</title>
    {% endif %}
<head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">BlindReader</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('allfiles') }}">My Files</a>
              <a class="nav-item nav-link" href="{{ url_for('upload') }}">Upload</a>
                <a class="nav-item nav-link" href="{{url_for('contact')}}">Contact Us</a>

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if current_user.is_authenticated%}
                 <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
                 <a class="nav-item nav-link" href="{{url_for('contact')}}">Contact Us</a>
                {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
            <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h1 style="text-align:center"><a class="mr-2" href="#" >Blind Reader</a></h1>
              <!--<big class="text-muted"> Project Summary</big>-->
            </div>
            <h2><a class="article-title" href="#"></a></h2>


               <p>
                <div class="slide-left">
                <p style=" font-weight:bold">BE THE BEACON OF HOPE IN THEIR LIVES. LET US SUPPORT THEM IN EVERY STEP WE TAKE!</p>
              <hr>
                </div>
               </p>
                <h2><a class="article-title" href="#">Objectives</a></h2>
                <br>
                  <ul>
                    <div>
                        <li style="font-size:20px"> Make all books, texts, voices and "emotions" in those voices
                    accessible to blind as well as blind-deaf in real time braille. </li>
                        <li style="font-size:20px">Navigate them round the clock</li>
                    </div>

                  </ul>
              <div style= "display: block; margin-left: 160px;margin-right: auto;width: 40%">
                  <img src="{{url_for('static',filename='b2.jpg')}}"  alt="Smiley face" height="420" width="420">
              </div>

             </p>
              <hr>
                <h2><a class="article-title" href="#">Technology</a></h2>
            <p>
                 <ul>
            <div>
                <li>
                    Wearable gadget with real time braille transmission
                </li>
                <li>
                    Image to  dynamic braille via text conversion
                </li>
            </div>
                <div>
                           <li>
                               Audio to dynamic braille for deafblind assistance
                           </li>
                       </div>
                 </ul>


              <hr>
                    Any pdf can be encoded into our device friendly text to be streamed to
                    the blind person in the form of braille. The device mimics the raised and
                    non-raised dots that the braille language uses. This makes all books accessible
                    to blind and blind-deaf.
                   </p>
                <h2><a class="article-title" href="#">Supporting Statistics</a></h2><p>
                    Of the 37 million people across the globe who are blind, over 15 million are from India.
                    -AudioBooks are the primary way of access to books that haven't been translated in braille,
                    although they are fluent in reading braille, and gives the actual reading experience to blind.
                    -NARUC ( National Association for Regulatory Utility Commission ) estimated two decades
                    ago that over 70,000 to 100,000 are both deaf and blind.</p>
              <hr>

                <h2><a class="article-title" href="#" style="margin-left:10px;">Technology Used </a></h2>
                <br>
                <ul><span  style="font-size:22px;text-decoration: underline;">Fields We Cover In This Project:</span>
                    <br>
                    <li>IOT ( Internet of Things )</li>
                    <li>Android</li>
                    <li>Arduino</li>
                    <li>Web Development</li>
                    <li>Machine Learning</li>
                </ul>
                <br>
                <ul><span style="font-size:22px;text-decoration: underline;"> Languages Used: </span>
                <li>Java for Android</li>
                <li>C++ for IOT</li>
                <li> HTML, CSS, XML for front-end </li>
                <li>Python for back-end</li>
                </ul>
              <hr>
                <h2><a class="article-title" href="#">Hardware Tools :</a></h2> <p><li>Arduino UNO</li>
                <li>HC-05 Bluetooth Module</li>
                <li>HC-05 Bluetooth Module</li>
                <li>SG90 MicroServo API's used are open sourced and have a GNU/GPL ( General Public License )</li>
                <li>Apache 2.0 License which allow free software distribution and modification.</li>
              <hr>
                    <p>
                    <!--Reference(s) : <a  href=" "/>-->
            </p>
            </article>
          </div>

        <div class="col-md-4">
          <div class="content-section">
            <h3 style="text-align:center">OUR CREATION</h3>
            <p>
                <video width="320" height="280" controls>
                <source src="{{ url_for('static', filename='BlindReaderPresentation.mp4') }}" type="video/mp4">
                </video>

            </p>
              <section class="slideshow"  >
  <div class="slideshow-container slide">
    <img src="{{url_for('static',filename='bg.jpg')}}">
    <img src="{{url_for('static',filename='bg1.jpg')}}">
    <img src="{{url_for('static',filename='louis.jpg')}}">
    <img src="{{url_for('static',filename='b1.jpg')}}">
    <img src="{{url_for('static',filename='b2.jpg')}}">
    <img src="{{url_for('static',filename='bg5.jpg')}}">
    <img src="{{url_for('static',filename='sympathy.jpg')}}">

  </div>
</section>
              </div>



      </div>
      </div>
    </main><!--<ul class="list-group">-->
                <!--<li class="list-group-item list-group-item-light">Latest Posts</li>-->
                <!--<li class="list-group-item list-group-item-light">Announcements</li>-->
                <!--<li class="list-group-item list-group-item-light">Calendars</li>-->
                <!--<li class="list-group-item list-group-item-light">etc</li>-->
              <!--</ul>-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
  <style style="text/css">
                div.slide-left {
                  width:100%;
                  overflow:hidden;
                }
                div.slide-left p {
                  animation: slide-left 10s;
                }

                @keyframes slide-left {
                  from {
                    margin-left: 100%;
                    width: 300%;
                  }

                  to {
                    margin-left: 0%;
                    width: 100%;
                  }
                }
                html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
.slideshow {
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px white;
}

.slideshow-container {
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 225px;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

img, .text-container {
  width: 300px;
  height: 300px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.text-container {
  height: 225px;
  position: relative;
}


p {
  position: relative;
  top: -45%;
  padding: 5px;
}

.slide {
  animation: slide 30s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }


  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
    99% {
    transform: translateX(-75%);
  }

  100% {
    transform: translateX(0);
  }
}

.p {
  margin-top: 140px;
  text-align: center;
}
      .ul_big {
      fontSize:30px;
      }
  </style>
</html>