
{% extends 'layout.html'%}
{%block content %}
<h1><a class="mr-2" href="#">Blind Reader</a></h1>
<br>
<br>
<br>
<br>
<br>
<form id="change-form" action="{{ url_for('pdftotext') }}" method="POST" enctype="multipart/form-data">
    <div class="article-metadata">

        <h4><a class="mr-2" href="#">Click to change uploaded pdf files to text files:</a></h4>
    </div>

    <br>
    <input type="submit" value="Change pdf to text!" id="change-button" class="btn btn-outline-info" >
</form>
{% endblock content %}
